body {
    font-family : "Century Gotic";
    font-size : 18px;
    color : #4e5054;
    background-color : #c5d3ed;
    margin : 0
}

header {
    background-color: #756e6d;
    color : black;
    padding-top : 25px;
    padding-bottom : 25px;
    text-align : center;
    text-transform : uppercase;
    margin-bottom : 50px

}

.container {
    width : 80%;
    margin : 0 auto
}

section {
    float : left;
    width : 70%;
    margin-bottom : 50px
}

aside {
    float : right;
    width : 25%
}

footer {
    background-color: rgb(189, 185, 185);
    clear: both;
    padding : 25px 0;
    text-align : center;
    margin : 0
}